{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/lightbox.min.css" %}">
{% endblock %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}

<div class="gallery row">
{% with page.gallery.images.all as images %}
{% for image in images %}
    
<div class="img-responsive img-click">
        <img src="{{ MEDIA_URL }}{% thumbnail image.file 450 0 80 %}" data-jslghtbx="{{ MEDIA_URL }}{% thumbnail image.file 1200 0 90 %}" data-jslghtbx-caption="{{ image.description }}" data-jslghtbx-group="group1">
</div>
{% endfor %}
{% endwith %}
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/lightbox.js" %}" defer></script>
{% endblock %}
