
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 5px;
  transition: all .3s;
}

a {
  text-decoration: none;
  transition: all .3s;
  font-weight: bold;
  color: #6C40BF;

}

a:hover {
  color: #328195;
  transition: all .3s;
}

footer {
  background-color: #333333;
  padding: 1.5em;
  overflow: auto;
}

footer a {
  color: white;
}

iframe {
  margin-left:auto;
  margin-right:auto;
  
}

li {
  list-style: none;
}

.display1 {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display2 {
  height: 300px;
  width: 100%;
  background-color: #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: center;
}


.flexy {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.main-content p:first-child {
  padding-top:5em;
}

.main-content p {
  font-size: 1.3em;
  padding: 1em 5em;
  line-height: 1.5em;
  max-width: 42em;
  margin-right: auto;
  margin-left: auto;
}

.main-content h2 {
  padding-bottom: 20px;
  line-height: 1.5em;
  margin-top: 30px;
  padding-left: 2.5em;
  font-size: 2em;
  max-width: 28em;
  margin-right: auto;
  margin-left: auto;
}

.nav li {
  display: inline;
  margin-left: 40px;
  font-size: 1.4em;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-self: flex-end;
  text-align: right;
  float: right;
}

.navbar-header {
  padding: 20px;
  font-size: 2.5em;
}

.navbar-text {
  padding: 20px;
  font-size: 2.5em;
}

.nav .active a {
  border-bottom: 3px solid black;
  visibility: visible;
    transition: all .3s;

}

.nav a:hover {
  border-bottom: 3px solid #328195;
  transition: all .3s;

}

.nav .branch-menu {
  visibility: hidden;
}

.nav .active .branch-menu a {
  visibility: visible;
}

.branch-menu .active a {
  border-bottom: 1px solid black;
}

.branch-menu a:hover {
  border-bottom: 1px solid #328195;
}

.branch-menu li {
  display: inline;
  margin-left: 30px;
}

.container {
  display: flex;
/*  margin: 20px;*/

}

.container .main-content {
  flex: 1;
/*  margin: 20px;*/
  overflow: hidden;
}

.container .right {
/*  background: rgba(0,0,0,.1);*/
  padding: 30px;
/*  box-shadow: inset 0 0 12px gray;*/
  border-left: 1px solid gray;
  
}

.right h3{
  padding-bottom: 10px;
}

.list-unstyled {
  padding-left: 10px;
/*  padding-bottom: 20px;*/
  line-height: 1.5em;
}

.nav-footer .list-unstyled {
  padding-left: 50px;
  display: inline;
  position: relative;
  float: left;
}

.navbar-header p{
  display: inline;
}

.navbar-text {
  color: gray;
  font-size: .5em;
}

.post-meta {
  font-size: 1em;
  padding-left: 10px;
  padding-bottom: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a.thumbnail{
  display: block;
}

.img-responsive a {
  position: absolute;
  top: 0;
  color: white;
  z-index: 2;
  left: 0;
  font-size: 1.8em;
  text-shadow: 0 0 10px black;
  padding: 10%;
  height: 100%;
  width: 100%;
  transition: all .5s;
/*
  background:linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0.6;
*/
}

.img-responsive a:hover {
  padding-top: 7%;
  transition: all .5s;
/*
  background:linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0.9;
*/
}

.img-responsive a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  background:linear-gradient(135deg, rgba(0,0,0,1), rgba(0,0,0,0));
  opacity: 0;
  z-index: -1;
}

.img-responsive a:hover:after {
  transition: all .5s;
  opacity: 0.8;
}


.img-responsive img{
  display: block;
  width: 100%;
}

.img-responsive {
  position: relative;
  min-width: 180px;
  width: 32%;
  margin: 0.2em;
}

.img-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; 
}
  
.under-splash {
  margin-top: 30%;
  background-color: rgba(255,255,255,0.7);
}

.title {
  text-align: center;
  padding: 20px;
}

div.social-icons {
  float: right;
}

.social-icons li {
  display: inline;
  font-size: 1.5em;
  padding: 5px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

#main-nav .branches {
  visibility: hidden;
  padding: 20px;

}

#main-nav .branches-active {
  visibility: visible;
  padding: 20px 0 20px 0;
}

@media (max-width: 750px){
  
  footer {
    padding: 20px;
  }
  
  .branch-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }  
  
  .branch-menu li {
    margin-left: 0;
  }
  
  .img-responsive {
    width: 49%;
    margin: 0.1em;

  }

  .img-splash {
    position: relative;
    width: 100%;
    z-index: -1; 
  }
  
  p.under-splash {
    margin-top: 0;
  }
    
  .main-content p {
    font-size: 1em;
    padding: 0 1.5em;
    background-color: rgba(255,255,255,0.7);
  }
  
  .navbar-header {
    text-align: center;
    width: 100%;
    
  }
  
  .navbar-menu {
    text-align: center;
    float: none;
    width: 100%;
  }
  
  ul.nav li:first-child {
    display: none;
  }
  
  .nav li {
    margin-left: 0;
  }
  
  .nav-footer .list-unstyled, div.social-icons {
    float: none;
  }
  
  #main-nav {
    justify-content: space-between;
    padding: 0;
    position: relative;
    flex-wrap: wrap;
    text-shadow: 0 0 10px white;
  }
  
  
}
@media (max-width: 400px){
  
  
  .img-responsive {
    width: 99%;
    margin: 0.1em;

  }
}

