<!--
{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}



{% block main %}
-->
<link rel="stylesheet" href="../static/css/style.css">
<div class="flexy">
<div class="img-responsive"><img alt="MB Lighting" class="rich-text-img" src="../static/media/uploads/galleries/mbrd_sherman_takata_photography__conference_graphics.jpg" title="Design" /><a href="/projects/design/">Design</a></div>
<div class="img-responsive"><img alt="Exploratorium" class="rich-text-img" src="../static/media/uploads/galleries/dsc_0830.jpg" title="Code" /> <a href="/projects/code/">Code</a></div>

<!--<div class="img-responsive"><img alt="Exploratorium wall" height="400" class="rich-text-img" src="/media/uploads/RichText%20Page%20images/dsc_0734.jpg" title="Hobbies" width="600" /><a href="/projects/hobbies/">Hobbies</a></div>-->

<div class="img-responsive"><img alt="DC Memorial" class="rich-text-img" src="../static/media/uploads/galleries/dsc_4353.jpg" title="Photography" /><a href="/projects/photography/">Photography</a></div>
<!--
<div class="img-responsive"><img alt="picture of Heidi" class="rich-text-img" src="../static/media/uploads/dsc_3476_copy.jpg" title="about heidi" /><a href="/about/">About Me</a></div>
</div>
-->
<!--{% endblock %}-->
</div>
<div class="main-content">
<p>During nearly three years as a professional architectural lighting designer I learned valuable things not only about design, but also about working on multi-disciplinary teams: how to resolve conflicts, work under tight deadlines, and handle clients changing project requirements. I also learned to consider that each project's needs are unique, and how important it is to consider the experience of the end user if you want your work to be successful.</p>
<p>I had the opportunity to work on many projects both big and small. By big I mean multimillion dollar professional sports stadiums, and by small, I mean boutique retail stores and restaurants.&nbsp;Below is a small assortment of projects that I worked on:</p>
<p></p>
<h2>The new Atlanta Falcons Sports Stadium</h2>
<p>As part of the massive number of people bringing this project to life, I worked on the lighting team that illuminated the interiors for the stadium, focusing on the VIP clubs and suites. My roles on the project included creating concept presentations, 3D modelling of lighting systems, light fixture layouts, calculations of appropriate light levels, and construction documentation.</p>
<p class="flexy"><iframe width="560" height="315" src="https://www.youtube.com/embed/SPKP7FaiqEE" frameborder="0" allowfullscreen=""></iframe></p>
<p></p>
<h2>Office space for a law firm in San Francisco</h2>
<p>Working closely with the architect, I was on a small team that provided a lighting scheme for 3 floors of commercial office space in downtown San Francisco.&nbsp;My roles on the project included light fixture selection, layout design, client interactions, light level calculations, lighting controls coordination, and developing architectural details.</p>
<div class="flexy">
<img alt="Law firm reception desk" class="img-responsive" height="400" src="../static/media/uploads/RichText%20Page%20images/08_002_6348.jpg" width="600" /> <img alt="Law firm lobby" class="img-responsive" height="400" src="../static/media/uploads/RichText%20Page%20images/08_002_6348.jpg" width="600" /> <img alt="Law firm lounge" class="img-responsive" height="400" src="../static/media/uploads/RichText%20Page%20images/08_002_6348.jpg" width="600" /></div>
<p></p>
<h2>Christian Louboutin retail shoe store in Atlanta</h2>
<p>One of the most important (and often unnoticed)&nbsp;considerations of retail store design is how the space and the products are lit. I worked on a small team that brought a sophisticated yet flexible lighting design to this high-end retail store.&nbsp;My roles on the project included developing custom lighting details, designing fixture layouts, performing light level calculations, and providing construction documentation.</p>
<div class="flexy">
<img alt="Christian Louboutain store" height="400" class="img-responsive" src="../static/media/uploads/RichText%20Page%20images/buckhead_christian-louboutin_1.jpg" width="600" />
<img alt="Christian Louboutain store" height="400" class="img-responsive" src="../static/media/uploads/RichText%20Page%20images/buckhead_christian-louboutin_2.jpg" width="600" />
<img alt="Christian Louboutain store" height="400" class="img-responsive" src="../static/media/uploads/RichText%20Page%20images/buckhead_christian-louboutin_3.jpg" width="600" /></div>
<h6>Images courtesy of the general contractor, <a href="http://www.choateco.com/">Choate Co</a>.</h6>
</div>
